<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <title>ADMIN</title>
</head>

<body>
<nav class="navbar navbar-light bg-dark fixed-top">
      <span class="navbar-brand text-white">
          <strong class="user_email"></strong> with roles:
          <span class="user_roles">Role</span>
      </span>
    <ul class="navbar-nav">
        <li class="nav-item text-nowrap">
            <a class="nav-link text-white" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar p-0 mt-5">
            <div class="sidebar-sticky bg-white">
                <ul class="nav flex-column mt-3">
                    <li class="nav-item">
                        <a href="/admin" id="admin_link" style="display: none" class="nav-link text-white bg-primary rounded">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user" id="user_link" style="display: none" class="nav-link text-primary bg-white rounded">User</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="col-md-10 mt-5 px-4" style="background-color: #f2f2f2;">
            <p class="h2 mt-3 mb-3">Admin panel</p>

            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="/admin" class="nav-link active">Users Table</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/addNewUser" class="nav-link border-0">New User</a>
                    </li>
                </ul>
            </nav>

            <p class="h5 col-md-12 rounded py-2 border border-bottom-0 mb-0">
                All Users
            </p>
            <div class="border bg-white p-3 rounded-bottom">
                <table id="users_table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog col-md-3">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center col-md-7 mx-auto">
                <form>
                    <div class="form-group">
                        <label for="edit_id" class="mb-0"><span class="font-weight-bold text-center">ID</span></label>
                        <input type="text" class="form-control" id="edit_id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="edit_firstName" class="mb-0"><span class="font-weight-bold text-center">First name</span></label>
                        <input type="text" class="form-control" id="edit_firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_lastName" class="mb-0"><span
                                class="font-weight-bold text-center">Last name</span></label>
                        <input type="text" class="form-control" id="edit_lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_age" class="mb-0"><span class="font-weight-bold text-center">Age</span></label>
                        <input type="number" class="form-control" id="edit_age" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_email" class="mb-0"><span class="font-weight-bold text-center">Email</span></label>
                        <input type="email" class="form-control" id="edit_email" required>
                    </div>
                    <div class="form-group">
                        <label for="edit_password" class="mb-0"><span
                                class="font-weight-bold text-center">Password</span></label>
                        <input type="password" class="form-control" id="edit_password">
                    </div>
                    <div class="form-group">
                        <label for="edit_roles_id" class="mb-0"><span
                                class="font-weight-bold text-center">Role</span></label>
                        <select multiple class="form-control" id="edit_roles_id" size="2" required>
                            <option value="1" id="edit_select_admin">ADMIN</option>
                            <option value="2" id="edit_select_user">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="editBtn" class="btn btn-primary" data-dismiss="modal">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
     aria-hidden="true">
    <div class="modal-dialog col-md-3">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center col-md-7 mx-auto">
                <form>
                    <div class="form-group">
                        <label for="delete_id" class="mb-0"><span class="font-weight-bold text-center">ID</span></label>
                        <input type="text" class="form-control mt-0" id="delete_id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="delete_firstName" class="mb-0"><span class="font-weight-bold text-center">First name</span></label>
                        <input type="text" class="form-control mt-0" id="delete_firstName" disabled>
                    </div>
                    <div class="form-group">
                        <label for="delete_lastName" class="mb-0"><span
                                class="font-weight-bold text-center">Last name</span></label>
                        <input type="text" class="form-control" id="delete_lastName" disabled>
                    </div>
                    <div class="form-group">
                        <label for="delete_age" class="mb-0"><span class="font-weight-bold text-center">Age</span></label>
                        <input type="number" class="form-control" id="delete_age" disabled>
                    </div>
                    <div class="form-group">
                        <label for="delete_email" class="mb-0"><span class="font-weight-bold text-center">Email</span></label>
                        <input type="email" class="form-control" id="delete_email" disabled>
                    </div>
                    <div class="form-group">
                        <label for="delete_roles_id"><span class="font-weight-bold text-center">Role</span></label>
                        <select multiple class="form-control" id="delete_roles_id" size="2" disabled>
                            <option value="1" id="delete_select_admin">ADMIN</option>
                            <option value="2" id="delete_select_user">USER</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="deleteBtn" class="btn btn-danger" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>

    fillUserData();
    fillUsersTable();
    var all_users = [];

    function fillUserData() {
        var user_roles = "";
        var activeUser_roles = document.getElementsByClassName('user_roles');
        var activeUser_email = document.getElementsByClassName('user_email');
        fetch('http://localhost:8080/api/activeUser')
            .then(response => response.json())
            .then(user => {
                for (var i = 0; i < user.roles.length; i++) {
                    user_roles += user.roles[i].name.substring(5) + " ";
                    if (user.roles[i].id === 1) {
                        document.getElementById('admin_link').style.display = "block";
                    }
                    if (user.roles[i].id === 2) {
                        document.getElementById('user_link').style.display = "block";
                    }
                }
                activeUser_email[0].innerHTML = user.username;
                activeUser_roles[0].innerHTML = user_roles;
            });
    }

    function fillUsersTable() {
        var usersTable = document.getElementById('users_table');
        var tbody = document.createElement('tbody');
        fetch('http://localhost:8080/api/users')
        .then(response => response.json())
        .then(users => {
            all_users = users;
            for (var i = 0; i < users.length; i++) {
                var user_roles = "";
                for (var j = 0; j < users[i].roles.length; j++) {
                    user_roles += users[i].roles[j].name.substring(5) + " ";
                }
                var tr = document.createElement('tr');
                tr.insertCell(0).innerHTML = users[i].id;
                tr.insertCell(1).innerHTML = users[i].firstName;
                tr.insertCell(2).innerHTML = users[i].lastName;
                tr.insertCell(3).innerHTML = users[i].age;
                tr.insertCell(4).innerHTML = users[i].username;
                tr.insertCell(5).innerHTML = user_roles;
                tr.insertCell(6).innerHTML =
                    "<button class=\"editBtn btn btn-info\" data-toggle=\"modal\" data-target=\"#editModal\">Edit</button>";
                tr.cells[6].firstChild.setAttribute("data-id", i);
                tr.insertCell(7).innerHTML =
                    "<button class=\"deleteBtn btn btn-danger\" data-toggle=\"modal\" data-target=\"#deleteModal\">Delete</button>";
                tr.cells[7].firstChild.setAttribute("data-id", i);
                tbody.appendChild(tr);
            }
            usersTable.appendChild(tbody);
        });
    }

    var deleteBtn = document.getElementById("deleteBtn");
    deleteBtn.addEventListener("click", function deleteUser() {
       var deletedUserId = document.getElementById("delete_id").value;
       fetch('http://localhost:8080/api/users/'+deletedUserId, {
           method: 'DELETE'
       })
       .then(function() {
           document.location.reload();
       });
    });

    var editBtn = document.getElementById("editBtn");
    editBtn.addEventListener("click", function deleteUser() {
        var edit_id = document.getElementById("edit_id").value;
        var edit_firstName = document.getElementById("edit_firstName").value;
        var edit_lastName = document.getElementById("edit_lastName").value;
        var edit_age = document.getElementById("edit_age").value;
        var edit_email = document.getElementById("edit_email").value;
        var edit_password = document.getElementById("edit_password").value;
        var roles_id = document.getElementById('edit_roles_id');
        var roles = [];
        for (var option of roles_id.options) {
            if (option.selected) {
                var role = {
                    id: option.value,
                    name: "ROLE_" + option.text
                };
                roles.push(role);
            }
        }
        var user = {
            id: edit_id,
            username: edit_email,
            password: edit_password,
            firstName: edit_firstName,
            lastName: edit_lastName,
            age: edit_age,
            roles: roles
        };
        fetch('http://localhost:8080/api/users/' + edit_id, {
            method: 'PUT',
            body: JSON.stringify(user),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        })
        .then(function() {
            document.location.reload();
        });
    });
</script>
<script>
    $("#editModal").on('shown.bs.modal', function(e) {
        var i = $(e.relatedTarget).data('id');
        console.log(all_users);
        $("#edit_id").val(all_users[i].id);
        $("#edit_firstName").val(all_users[i].firstName);
        $("#edit_lastName").val(all_users[i].lastName);
        $("#edit_age").val(all_users[i].age);
        $("#edit_email").val(all_users[i].username);
    });

    $("#deleteModal").on('shown.bs.modal', function(e) {
        var i = $(e.relatedTarget).data('id');
        console.log(all_users);
        $("#delete_id").val(all_users[i].id);
        $("#delete_firstName").val(all_users[i].firstName);
        $("#delete_lastName").val(all_users[i].lastName);
        $("#delete_age").val(all_users[i].age);
        $("#delete_email").val(all_users[i].username);
        //$("#delete_roles_id").val();
    });
</script>
</body>
</html>
